body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  text-align: center;
  button{
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    padding-left: 10px;
  }
}
.modal{
  height: 100%;
  width: 100%;
  background-color: #000040;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  .modal__info{
    padding: 20px;
    border-radius: 20%;
    background-color: white;
  }
}
.modal.active{
  opacity: 1;
  pointer-events: all;
}
.modalFirstBtn{
  padding: 5px;
  border-radius: 12px;
  background-color: rgb(202, 205, 50);
  margin: 5px;
}
.modalSecondBtn{
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}